<ul class="portfolio__list">
    <li class="portfolio__item">
        <a href="http://v8.1c.ru/bmo/" class="portfolio__link">
            <div class="portfolio__pic portfolio__pic_1C"></div>
            <div class="portfolio__desc">
                <div class="portfolio__descTitle">
                    1C
                </div>
                <div class="portfolio__descText">
                    Бюджет муниципального образования
                </div>
                <div class="portfolio__descType">
                    <i class="fa fa-desktop"></i> Приложения
                </div>
            </div>
        </a>
    </li>
    <li class="portfolio__item">
        <a href="http://www.v8.1c.ru/budget_poseleniya/" class="portfolio__link">
            <div class="portfolio__pic portfolio__pic_1C"></div>
            <div class="portfolio__desc">
                <div class="portfolio__descTitle">
                    1C
                </div>
                <div class="portfolio__descText">
                    Бюджет поселения
                </div>
                <div class="portfolio__descType">
                    <i class="fa fa-desktop"></i> Приложения
                </div>
            </div>
        </a>
    </li>
    <li class="portfolio__item">
        <a href="https://www.krista.ru/products/budget/" class="portfolio__link">
            <div class="portfolio__pic portfolio__pic_krista"></div>
            <div class="portfolio__desc">
                <div class="portfolio__descTitle">
                    Криста
                </div>
                <div class="portfolio__descText">
                    АС Бюджет
                </div>
                <div class="portfolio__descType">
                    <i class="fa fa-desktop"></i> Приложения
                </div>
            </div>
        </a>
    </li>
</ul>