<div class="auth">
    <div class="auth__top">
        <div class="auth__avatar"></div>
        <div class="auth__name">
            Artemy Kudriavov
        </div>
    </div>
    <div class="auth__bottom">
        <a href="index.html" class="about__downloadLink whiteLink">
            Перейти на сайт
        </a>
    </div>
</div>