<nav>
    <ul>
        <li>
            <a href="#"><span>Обо мне</span> </a>
        </li>
        <li>
            <a href="#"><span >Карьерный путь</span> </a>
        </li>
        <li>
            <a href="#"><span>Портфолио</span> </a>
        </li>
    </ul>
</nav>
