<div class="socials">
    <ul class="socials__list">
        <li class="socials__item">
            <a href="https://www.facebook.com/profile.php?id=100016085654158" target="_blank" class="socials__link socials__link_fb"></a>
        </li>
        <li class="socials__item">
            <a href="https://vk.com/id422324602" target="_blank" class="socials__link socials__link_vk"></a>
        </li>
        <li class="socials__item">
            <a href="https://twitter.com/temofey_k" target="_blank" class="socials__link socials__link_tw"></a>
        </li>
    </ul>
</div>