<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <div class="copyright">
                © Artemy Kudriavov
            </div>
        </div>

        <div class="footer__right">
            {{> "./footerSocial.hbs"}}
        </div>
    </div>
</footer>
