<div class="contacts">
    <a href="#" class="contacts__trigger">Мои контакты</a>
    <div class="contacts__dropdown">
        <div class="contacts__dropdownTriangle"></div>
        <ul class="contacts__dropdownList">
            <li class="contacts__dropdownItem">
                <a href="mailto:temofey.k@gmail.com" class="contacts__dropdownLink">
                    <i class="contacts__dropdownIcon fa fa-envelope"></i>
                    <span class="contacts__dropdownText">
                                                temofey.k@gmail.com
                                            </span>
                </a>
            </li>
            <li class="contacts__dropdownItem">
                <a href="tel:+79109719305" class="contacts__dropdownLink">
                    <i class="contacts__dropdownIcon fa fa-phone"></i>
                    <span class="contacts__dropdownText">
                                                +7(910) 971 93 05
                                            </span>
                </a>
            </li>
            <li class="contacts__dropdownItem">
                <a href="skype:temofey_k?chat" class="contacts__dropdownLink">
                    <i class="contacts__dropdownIcon fa fa-skype"></i>
                    <span class="contacts__dropdownText">
                                                temofey_k
                                            </span>
                </a>
            </li>
        </ul>
    </div>
</div>
