<header class="header">
    <div class="container">
        <div class="header__left">
            {{> "./headerUser.hbs"}}
        </div>
        <div class="header__right">
            {{> "./headerContacts.hbs"}}
        </div>
    </div>
</header>