<div class="contacts">
    <a href="index.html" class="contacts__trigger">Мои контакты</a>
    <ul class="contacts__dropdown">
        <li class="contacts__dropdownItem">
            <a href="index.html" class="contacts__dropdownLink"></a>
        </li>
        <li class="contacts__dropdownItem">
            <a href="index.html" class="contacts__dropdownLink"></a>
        </li>
        <li class="contacts__dropdownItem">
            <a href="index.html" class="contacts__dropdownLink"></a>
        </li>
    </ul>
</div>