<div>
    <p>My name is Artemy. I am from Russia.</p>
    <p>I have been working as a programmer at 1C Company for 8 years.</p>
    <p>
        I worked on a number of team project, but I really enjoy working as software tester.I'm not very good with the development especially with user interface.
        But I found a lot of hardly-reproducible bugs, and I had corrected some of ones on my own hook.
    </p>
</div>