.career__item:hover .career__block {
    background: #33c1e3;
}

.career__item:hover * {
    color: #fff;
}

.career__item:hover .career__year {
    color: #33c1e3;
    font-weight: bold;
}

.career__item:hover .career__year:after {
    border-color: #94e0f2;
}

.career__title {
    font-size: 21px;
    color: #5a5a5a;
    margin-bottom: 5px;
}

.career__occupation,
.career__date {
    font-size: 18px;
    font-family: 'fira_sanslight';
}

.career__item {
    text-align: right;
    font-size: 0;
    margin-bottom: 20px;
}

.career__item:first-child .career__block:before {
    display: none;
}

.career__item:last-child .career__block:after {
    display: none;
}

.career__block {
    width: 380px;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
}

.career__block:after,
.career__block:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background: #dddddd;
    left: -20px;
}

.career__block:before {
    top: 0;
    bottom: 50%;
}

.career__block:after {
    bottom: -22px;
    top: 50%;
}

.career__year {
    position: absolute;
    right: 100%;
    font-size: 14px;
    top: 50%;
    margin-top: -8px;
    margin-right: 34px;
    color: #727272;
}

.career__year:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #33c1e3;
    border: 5px solid #f6f6f6;
    position: absolute;
    right: -25px;
    top: 50%;
    z-index: 1;
    margin-top: -10px;
    border-radius: 50%;
}