.stuff {
    width: 73%;
    float: right;
}

.career__left {
    width: 220px;
    float: left;
}

.career__right {
    width: 445px;
    float: right;
}

.contentTitle {
    font-family: 'fira_sansmedium';
    font-size: 35px;
    color: #414141;
    line-height: 38px;
    margin-bottom: 16px;
    font-weight: normal;
}