.about__download {
    text-align: right;
}

.about__downloadLink {
    padding: 7px 13px;
    border: 2px solid #e85f61;
    color: #e85f61;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border-radius: 30px;
    font-family: 'fira_sansbold';
}

.about__downloadLinkIcon {
    margin-right: 5px;
}

.about__downloadLink:hover {
    color: #fff;
    background: #e85f61;
}

.about__downloadLinkIcon, .about__downloadLinkText {
    display: inline-block;
    vertical-align: middle;
}

.about__downloadLinkText {
    margin-left: 8px;
}