.nav__list {
    text-align: right;
}

.nav__link {
    display: block;
    padding: 10px 0;
    padding-right: 20px;
    color: #414141;
    text-decoration: none;
    border-right: 6px solid transparent;
    font-size: 18px;
}

.nav__link:hover {
    color: #33c1e3;
}

.nav__link:active {
    color: #33c1e3;
    border-color: #33c1e3;
}

.nav__item_active .nav__link {
    border-color: #33c1e3;
}