<ul class="career__list">
    <li class="career__item">
        <div class="career__block">
            <div class="career__title">
                “1C”, Moscow, Russia
            </div>
            <div class="career__occupation">
                Software developer, government automation department
            </div>
            <div class="career__date">
                June 2008 – present
            </div>
            <div class="career__year">
                2017
            </div>
        </div>
    </li>
    <li class="career__item">
        <div class="career__block">
            <div class="career__title">
                “Krista”, Rybinsk, Russia
            </div>
            <div class="career__occupation">
                Software developer, software architecture department
            </div>
            <div class="career__date">
                July 2002 – June 2008
            </div>
            <div class="career__year">
                2008
            </div>
        </div>
    </li>
    <li class="career__item">
        <div class="career__block">
            <div class="career__title">
                Soloviev Rybinsk State Aviation Technical University.
            </div>
            <div class="career__date">
                1997 – 2002
            </div>
            <div class="career__year">
                2002
            </div>
        </div>
    </li>
</ul>