<main class="stuff">
    <div class="career">
        <h5 class="contentTitle">Карьерный путь</h5>
        <div class="career__left">
            {{> "./careerPicture.hbs"}}
        </div>
        <div class="career__right">
            {{> "./careerList.hbs"}}
        </div>
    </div>
</main>