.portfolio__list {
    font-size: 0;
    margin-left: -12px;
}

.portfolio__list > * {
    font-size: 14px;
}

.portfolio__item {
    display: inline-block;
    width: 220px;
    border-radius: 10px 9px 9px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: 12px;
    margin-bottom: 12px;
}

.portfolio__link {
    display: block;
    text-decoration: none;
}

.portfolio__pic {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 175px;
}

.portfolio__pic_1C {
    background-image: url("../../images/content/logo1C.png");
}

.portfolio__pic_krista {
    background-image: url("../../images/content/logoKrista.png");
}
.portfolio__desc {
    background: #fff;
    padding: 20px;
}

.portfolio__descTitle {
    color: #33c1e3;
    font-size: 21px;
    line-height: 24px;
    bottom: 5px;
}

.portfolio__descText {
    color: #414141;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 17px;
}

.portfolio__descType {
    color: #aeaeae;
    font-size: 18px;
}
