<div class="wrapper">
    <div class="maincontent">
        {{> "./templates/header.hbs"}}
        <div class="container">
            {{> "./templates/aside.hbs"}}
            {{> "./templates/Portfolio/main.hbs"}}
        </div>
    </div>
</div>
{{> "./templates/footer.hbs"}}