<div class="about__text textBlock">
    <p>My name is Artemy. I am from Russia.</p>
    <p>I have been working as a programmer at 1C Company for 9 years.</p>
    <p>
        I worked on a number of team project, but I really enjoy working as full stack software engineer.
    </p>
    <p>
        I am a hard worker, I will give my best in your company. I am sure that I can fulfill your need.    </p>
    <p>
        I Have Industry Experience. I Have Good technical Skills.
        And my main quality is that I'm very open minded so I always.
        I'm not afraid of new things, and nothing shocks me so.
        I want to have new experiences.
    </p>
    <p>
        I adapted well to the demand of the firm, very quick learner and honest towards my work.
        And I think my knowledge and skills will also helpful for this.
    </p>
</div>