<div class="about">
    <div class="about__left">
        {{> "./mainAboutAvatar.hbs"}}
    </div>
    <div class="about__right">
        <h5 class="contentTitle">Обо мне</h5>
        {{> "./mainAboutText.hbs"}}
        {{> "./mainAboutCV.hbs"}}
    </div>
</div>
