<div class="about__download">
    <a href="docs/ArtemyKudriavovCV.odt" class="about__downloadLink" download>
        <i class="fa fa-download about__downloadLinkIcon"></i>
        <span class="about__downloadLinkText">Cкачать резюме</span>
    </a>
</div>